body {
    margin: 0;
    padding: 0;
    background-color: #9C9C9C;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

nav {
    background: #7b486c!important;

}

button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.4rem 2rem;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s !important;
    box-shadow: 0px 2px 8px 2px #0000006e;
}

button:hover {
    transform: translateY(-5px);
}

.marginAutoLR
{
    margin-right:auto;
    margin-left:auto;
}
