<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
<div th:if="${error != null}" th:text="${error}">
    <div class="alert alert-warning alert-dismissible" role="alert">
			<span type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></span> <strong th:text="${error}">hello</strong>
    </div>
</div>

<div th:if="${message != null}" th:text="${message}">
    <div class="alert alert-warning alert-dismissible" role="alert">
			<span type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></span> <strong th:text="${message}">hello</strong>
    </div>
</div>





<body>
    <nav class="p-3" style="background: #7b486c">
        <div class="d-flex align-items-center justify-content-end">
            <form action="/student/logout" method="post">
                <button type="submit" name="logout">
                    Logout
                </button>
            </form>
        </div>
    </nav>
    <div th:if="${s1 != null}"  class="container p-3">
        <div th:each="job : ${s1}" class="card p-3 mb-3">
            <div>
                <strong><span th:text="${(job.jobProfile).getPosition()}">Position</span></strong>
            </div>
            <div>
                <strong><span th:text="${(job.company).getName()}">Name</span></strong>
            </div>
            <form id="apply-form" class="form" method="post" th:action="@{/student/apply/{path}(path=${job.jobProfile.getJobProfileId})}">
                <input type="hidden" name="jobProfileId" id="jobProfileId" th:value="${job.jobProfile.getJobProfileId}">
                <input type="hidden" name="studentId" id="studentId" th:value="${student.getStudentId}">
                <input type="hidden" name="roundNumber" id="roundNumber" th:value="${job.jobProfile.getNumberOfRounds}">
                <input type="hidden" name="score" id="score" th:value="0">
                <div class="form-group">
                    <label for="resumeLink" class="text-info">Enter Resume Link:</label><br>
                    <input type="text" name="resumeLink" id="resumeLink" class="form-control">
                </div>
                <button type="submit" name="apply" class="btn btn-warning">
                    Add Resume
                </button>
            </form>
        </div>
    </div>

    <div th:if="${s2 != null}" >
        <p> HELLLOOOOO </p>
        <div th:each="job : ${s2}">
            <div>
                <strong><span th:text="${(job.jobProfile).getPosition()}">Position</span></strong>
            </div>
            <div>
                <strong><span th:text="${(job.company).getName()}">Name</span></strong>
            </div>
        </div>
    </div>



</body>
</html>