<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #intro {
            background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
            height: 80px;
        }

        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
            }
        }

        .navbar .nav-link {
            color: #fff !important;
        }
    </style>


</head>
<body>
<header class="mb-2">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div th:if="${company != null} "class="container-fluid">
            <form action="/company/login" method="post">
                <input type="hidden" name="username" id="username" th:value="${company.getEmailId()}">
                <input type="hidden" name="password" id="password"  th:value="${company.getPassword()}">
                <input type="submit" class="navbar-brand mr-5 bg-dark text-white" name="Log Out" value="TPC Portal"></input>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <form action="/company/logout" method="post">
                <button type="submit" name="logout">
                    Logout
                </button>
            </form>
        </div>
    </nav>

</header>

<div id="login"  class="form-control" style="background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(169,220,229,1) 22%, rgba(107,195,210,1) 84%, rgba(23,162,184,1) 100%);">
    <div class="container p-3">
        <div id="makejob">
                <div id="login-row" class="row justify-content-center align-items-center">

                    <div id="login-column" class="col-md-8">
                        <div th:if="${error != null}" class="mt-5 p-2 text-red">
                            <div class="text-center mt-5" style="color:red">
                                <p th:text="${error}">hello</p>
                            </div>
                        </div>

                        <div th:if="${message != null}" class="mt-5 p-2 text-red">
                            <div class="text-center" style="color:red">
                                <p th:text="${message}">hello</p>
                            </div>
                        </div>
                        <div id="login-box" class="col-md-12">
                            <div class="row mt-5">

                                <br>
                                <div class="d-flex justify-content-center col-6">
                                    <a href="/company/makeJobProfile/">
                                        <button class="btn btn-info">
                                            Make Job Profile
                                        </button>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-center col-6">
                                    <a href="/company/addInterviewer/">
                                        <button class="btn btn-info">
                                            Add an Interviewer
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="mt-3" th:if="${!activejobs.isEmpty()}">
                                <div th:each="job : ${activejobs}">
                                    <div class="card p-2 marginAutoLR mt-3" style="border-width: 7px; border-color: black;">
                                        <i><div class="card-header" th:text="${job.getTypeOfProfile}"}>Featured</div></i>
                                        <div class="card-body">
                                            <h3 class="card-title" th:text="${job.getPosition}">JP</h3>
                                            <div class="row">
                                                <div class="col-12 card-text">
                                                    <span th:text="'Description : ' + ${job.getDescription}">
                                                        Location
                                                    </span>
                                                </div>
                                                <div class="col-12 card-text">
                                                    <span th:text="'Location : ' + ${job.getLocation}">
                                                        Location
                                                    </span>
                                                </div>
                                                <div class="col-12 card-text">
                                                    <span th:text="'Stipend (per Month in INR) : ' + ${job.getStipend}">
                                                        Location
                                                    </span>
                                                </div>
                                                <div class="col-12 card-text">
                                                    <span th:text="'Duration (in months) : ' + ${job.getDuration}">
                                                        Location
                                                    </span>
                                                </div>
<!--                                                <div class="col-12 card-text">-->
<!--                                                    <span th:text="'Open For the following branches : '">-->
<!--                                                        Location-->
<!--                                                    </span>-->
<!--                                                    <div th:each="${job.getDuration}"-->
<!--                                                </div>-->
                                            </div>
                                            <form id="login-form2" class="form-group mt-2" method="post" th:action="@{/company/shortlist/{path}(path=${job.getJobProfileId})}">
                                                <input class="btn btn-success" type="submit" name="status" value="Status" />
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white page-footer">
    <!-- Grid container -->
    <div class="container p-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tpc.iitbhu/" role="button"
            ><i class="fa fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/IITBHU_Varanasi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button"
            ><i class="fa fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://iitbhu.ac.in/" role="button"
            ><i class="fa fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/iitbhu.varanasi/?hl=en" role="button"
            ><i class="fa fa-instagram"></i
            ></a>

        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="/addEmail" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our Daily updates!</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email  -->
                        <div class="form-outline form-white mb-4">
                            <input required type="text" id="form5Example21" class="form-control" placeholder="Email Address"/>
                            <!--                            <label class="form-label" for="form5Example21">Email address</label>-->
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Training and Placement Cell, Indian Institute of Technology, Varanasi (BHU).
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/anant-saxena-299170199/">Anant Saxena</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>

