<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>
<body>
<div th:if="${error != null}" th:text="${error}">
    <div class="alert alert-warning alert-dismissible" role="alert">
			<span type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></span> <strong th:text="${error}">hello</strong>
    </div>
</div>

<div th:if="${message != null}" th:text="${message}">
    <div class="alert alert-warning alert-dismissible" role="alert">
			<span type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></span> <strong th:text="${message}">hello</strong>
    </div>
</div>

<form action="/student/logout" method="post">
    <input type="submit" name="logout" value="Logout" />
</form>

<body>
    <div th:each="job : ${availablejobs}">
        <strong><span th:text="${job.getPosition()}">Position</span></strong>
        <form th:if="${job.initialRound}" id="apply-form" class="form" method="post" th:action="@{/student/apply/{path}(path=${job.getJobProfileId})}">
            <input type="hidden" name="jobProfileId" id="jobProfileId" th:value="${job.getJobProfileId}">
            <input type="hidden" name="studentId" id="studentId" th:value="${student.getStudentId}">
            <input type="hidden" name="roundNumber" id="roundNumber" value="1">
            <div class="form-group">
                <label for="resumeLink" class="text-info">Enter Resume Link:</label><br>
                <input type="text" name="resumeLink" id="resumeLink" class="form-control">
            </div>
            <input type="submit" name="apply" value="Add Resume" />
        </form>
    </div>
</body>
</html>