<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #intro {
            background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
            height: 80px;
        }

        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
            }
        }

        .navbar .nav-link {
            color: #fff !important;
        }
    </style>


</head>
<body>
<header class="mb-2">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div th:if="${company != null} "class="container-fluid">
            <form action="/company/login" method="post">
                <input type="hidden" name="username" id="username" th:value="${company.getEmailId()}">
                <input type="hidden" name="password" id="password"  th:value="${company.getPassword()}">
                <input type="submit" class="navbar-brand mr-5 bg-dark text-white" name="Log Out" value="TPC Portal"></input>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <form action="/company/logout" method="post">
                <button type="submit" name="logout">
                    Logout
                </button>
            </form>
        </div>
    </nav>

</header>


<div id="login" class="container mt-5">
    <div class="container p-3">

        <div id="makejob" class="mt-auto">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 ">

                        <form id="make-coding-round-form" class="form" action="/company/saveCodingRound" method="post">
                            <h3 class="text-center text-info">New Coding Round</h3>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="target" class="text-info">Target for Qualifiers:</label><br>
                                    <input type="number" min="0.00" max="0.00" step="0.01" name="target" id="target" class="form-control">
                                </div>
                                <input type="hidden" name="jobProfileId" id="jobProfileId" th:value="${jobProfile.getJobProfileId}">
                                <input type="hidden" name="roundNumber" id="roundNumber" th:value="${jobProfile.getNumberOfRounds}">
                                <div class="form-group">
                                    <label for="testLink" class="text-info">Link Of the Test Scheduled:</label><br>
                                    <input required type="text" name="testLink" id="testLink" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="platform" class="text-info">Platform:</label><br>
                                    <input required type="text" name="platform" id="platform" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="testDateTime" class="text-info">Date and Time:</label><br>
                                    <input required type="datetime-local" name="testDateTime" id="testDateTime" class="form-control">
                                </div>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Create This Test">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white page-footer">
    <!-- Grid container -->
    <div class="container p-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tpc.iitbhu/" role="button"
            ><i class="fa fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/IITBHU_Varanasi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button"
            ><i class="fa fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://iitbhu.ac.in/" role="button"
            ><i class="fa fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/iitbhu.varanasi/?hl=en" role="button"
            ><i class="fa fa-instagram"></i
            ></a>

        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="/addEmail" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our Daily updates!</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email  -->
                        <div class="form-outline form-white mb-4">
                            <input required type="text" id="form5Example21" class="form-control" placeholder="Email Address"/>
                            <!--                            <label class="form-label" for="form5Example21">Email address</label>-->
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Training and Placement Cell, Indian Institute of Technology, Varanasi (BHU).
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/anant-saxena-299170199/">Anant Saxena</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>

