<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #intro {
            background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
            height: 80px;
        }

        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
            }
        }

        .navbar .nav-link {
            color: #fff !important;
        }
    </style>
</head>
<body>
<header style="height: 10%;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div th:if="${company != null} "class="container-fluid">
            <form action="/company/login" method="post">
                <input type="hidden" name="username" id="username" th:value="${company.getEmailId()}">
                <input type="hidden" name="password" id="password"  th:value="${company.getPassword()}">
                <input type="submit" class="navbar-brand mr-5 bg-dark text-white" name="Log Out" value="TPC Portal"></input>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <form action="/company/logout" method="post">
                <button type="submit" name="logout">
                    Logout
                </button>
            </form>
        </div>
    </nav>

</header>

<div id="makejob" class="container mt-5" >
    <h3 class="text-center text-info pt-5">Create a Job Profile</h3>
    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <form id="job-creation-form" class="form" action="/company/makeJobProfile" method="post" enctype="multipart/form-data">
                        <div>
                            <input required value="1" name="jobProfileId" id="jobProfileId" type="hidden">
                        </div>
                        <div>
                            <input required th:value="${companyId}" name="companyId" id="companyId" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="cgpaCutoff" class="text-info">CGPA Cutoff:</label><br>
                            <input required type="number" step=0.01 min=0.00 max=10.00 name="cgpaCutoff" id="cgpaCutoff" class="form-control">
                        </div>
                        <div>
                            <input required value="1" name="numberOfRounds" id="numberOfRounds" type="hidden">
                        </div>
                        <div  class="form-group">
                            <label for="typeOfProfile" class="text-info">Type of Profile:</label>
                            <select id="typeOfProfile" name="typeOfProfile" class="form-control">
                                <option value="internship">Internship</option>
                                <option value="placement">Placement</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="academicSession" class="text-info">For the Academic Session(enter 2021 for 2021-22):</label><br>
                            <input required type="number" name="academicSession" id="academicSession" class="form-control" value="2021">
                        </div>
                        <div class="form-group">
                            <label for="stipend" class="text-info">Stipend (Per month CTC in INR):</label><br>
                            <input required type="number" step=0.01 min=0.00 name="stipend" id="stipend" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="position" class="text-info">Position Offered inside the company:</label><br>
                            <input required type="text" name="position" id="position" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description" class="text-info">Description of the job (in < 50 words):</label><br>
                            <input required type="text" name="description" id="description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="location" class="text-info">Location of Workplace (mention Online if necessary):</label><br>
                            <input required type="text" name="location" id="location" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="duration" class="text-info">Duration of Work in months (mention 0 if FT job):</label><br>
                            <input required type="text" name="duration" id="duration" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dateTime" class="text-info">Date and Time for the presentation:</label>
                            <input required type="datetime-local" name="dateTime" id="dateTime" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="meetingLink" class="text-info">Presentation Link (Enter 'NA' is not applicable):</label><br>
                            <input required type="text" name="meetingLink" id="meetingLink" class="form-control">
                        </div>
                        <div class="form-group">
                            <ul class="list-unstyled">
                                <li th:each="search : ${searchTypes}">
                                    <input type="checkbox" name="tickedBranches" th:value="${search}"/>
                                    <label th:text="${search}"></label>
                                </li>
                            </ul>

                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Create Profile">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" style="height: 20%">
    <!-- Grid container -->
    <div class="container p-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tpc.iitbhu/" role="button"
            ><i class="fa fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/IITBHU_Varanasi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button"
            ><i class="fa fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://iitbhu.ac.in/" role="button"
            ><i class="fa fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/iitbhu.varanasi/?hl=en" role="button"
            ><i class="fa fa-instagram"></i
            ></a>

        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="/addEmail" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our Daily updates!</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email  -->
                        <div class="form-outline form-white mb-4">
                            <input required type="text" id="form5Example21" class="form-control" placeholder="Email Address"/>
                            <!--                            <label class="form-label" for="form5Example21">Email address</label>-->
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Training and Placement Cell, Indian Institute of Technology, Varanasi (BHU).
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/anant-saxena-299170199/">Anant Saxena</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>