<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<div th:if="${error != null}" th:text="${error}">
    <div class="alert alert-warning alert-dismissible" role="alert">
			<span type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></span> <strong th:text="${error}">hello</strong>
    </div>
</div>


<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <form id="register-form" class="form" action="/student/register" method="post">
                        <h3 class="text-center text-info">Student  Registration</h3>
                        <div class="form-group">
                            <label for="studentid" class="text-info">StudentId:</label><br>
                            <input type="number" name="studentid" id="studentid" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-info">Full Name:</label><br>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="emailid" class="text-info">EmailId:</label><br>
                            <input type="text" name="emailid" id="emailid" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Create a Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address" class="text-info">Address:</label><br>
                            <input type="text" name="address" id="address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dob" class="text-info">Date of Birth:</label><br>
                            <input type="date" name="dob" id="dob" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phonenumber" class="text-info">Phone Number (Personal):</label><br>
                            <input type="text" name="phonenumber" id="phonenumber" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="guardianname" class="text-info">Guardian Name:</label><br>
                            <input type="text" name="guardianname" id="guardianname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="guardianphone" class="text-info">Guardian Phone Number(Personal):</label><br>
                            <input type="text" name="guardianphone" id="guardianphone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="academicsession" class="text-info">Academic Session (Enter 2021 if sitting for the session 2021-22):</label><br>
                            <input type="number" name="academicsession" id="academicsession" class="form-control" value="2021">
                        </div>

                        <div>
                            <label for="branch">Branch:</label>
                            <select id="branch" name="branch">
                                <option value="cer">Ceramic Engineering</option>
                                <option value="che">Chemical Engineering and Technology</option>
                                <option value="civ">Civil Engineering</option>
                                <option value="cse">Computer Science and Engineering</option>
                                <option value="ee">Electrical Engineering</option>
                                <option value="ece">Electronics Engineering</option>
                                <option value="mec">Mechanical Engineering</option>
                                <option value="met">Metallurgical Engineering</option>
                                <option value="min">Mining Engineering</option>
                                <option value="phe">Pharmaceutical Engineering & Technology</option>
                                <option value="apc">Industrial Chemistry</option>
                                <option value="mat">Mathematics and Computing</option>
                                <option value="app">Applied Physics</option>
                                <option value="bce">Biochemical Engineering</option>
                                <option value="bme">Biomedical Engineering</option>
                                <option value="mst">Materials Science and Technology</option>
                            </select>
                        </div>
                        <div>
                            <label for="course">Course:</label>
                            <select id="course" name="course">
                                <option value="btech">B.Tech</option>
                                <option value="idd">B.Tech + M.Tech Integrated Dual Degree</option>
                                <option value="mtech">M.Tech</option>
                                <option value="phd">Ph.D</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cgpa" class="text-info">CGPA:</label><br>
                            <input type="number" step="0.01" min="0.0" max="10.0" name="cgpa" id="cgpa" class="form-control">
                        </div>
                        <div>
                            <label for="sittingfor">Sitting For:</label>
                            <select id="sittingfor" name="sittingfor">
                                <option value="internship">Internship</option>
                                <option value="placement">Placement</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>